<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Comments</h1>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/comments/new">New Comment</a></li>
    </nav>
  </body>
</html>
