<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Comment Box</h1>
      <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/comments">Comments Index</a></li>
      </nav>
      <form action="/comments" method="POST">
        <textarea name="body"></textarea><br/>
        <input type="submit" value="Post Comment">
      </form>
  </body>
</html> -->
