<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="/app.css">
  <body>
    <div class="navbar">
      <div class="title">
        <h2>dot</h2><h1>photomode</h1>
      </div>
      <div class="buttons">
        <form action="/users/new">
          <input type="submit" value="Sign Up">
        </form>
        <form action="/sessions/new">
          <input type="submit" value="Log In">
        </form>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Sign Out">
        </form>
      </div>
    </div>



    <div class="postbox">
      <% for(let i = 0; i < posts.length; i++) { %>
        <div class="posts">

          <li>
            <a href="/posts/<%=posts[i]._id%>">
            <img src="<%=posts[i].img%>" class="imgpost"/></a>
          </li>
          <li><h3><%=posts[i].name%></h3></li>
          <li><%=posts[i].description%></li>
          <div>
            <label for="heart"></label>
              <input type="checkbox" id="heart" name="heart" />
              <span>Heart this??</span>
          </div>
        </div>
        <br/>
      <% } %>
    </div>

    <form action="/posts/new">
      <input type="submit" value="New Post">
    </form>

  </body>
</html>
